

<div class="m-5 row" >

  <div class=" col-xl-6 col-md-10" style="margin: 0 auto; padding: 20px; display: block;">
      <h2 style="text-align: center;">May your payment here</h2>
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
      </div>
  </div>


<!-- FOR PAYSTACK -->
        <!-- <button
      angular4-paystack
      [paystackOptions]="options"
      (paymentInit)="paymentCancel()"
      (close)="paymentCancel()"
      (callback)="paymentDone($event)"
    >
      Pay with Paystack
    </button> -->
