<div class="container mt-5">
  <h2>Business Name</h2>

  <div>
    <p>Email: </p>
    <p>City: </p>
    <p>Phone Number: </p>
    <p>Category of Business: </p>
  </div>

  <h2>Menu</h2>
  <table class="table table-light">
    <tr >
      <th>Image</th>
      <th>Food</th>
      <th>Description</th>
      <th>Price</th>
      <th>Preparation Time</th>
      <th></th>
    </tr>


    <tr *ngFor="let menu of menus">
        <td><img src="" alt=""></td>
        <td>{{menu.name}}</td>
        <td>{{menu.description}}</td>
        <td>{{menu.price}}</td>
        <td>{{menu.prepTime}}</td>
        <td><a [routerLink]="['/pay', menu.id]" class="btn btn-secondary btn-sm">Book</a></td>
      </tr>
    </table>
  </div>







